<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Météo</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

</head>

<body>
    <div id ='main-logo'>
        <img src="{{ url_for('static', filename='weather_app.png') }}" alt="App logo" width="15%" height="auto" >
    </div>


        <input type="text" id="citySearch" placeholder="Look for your city">
        <select class="custom-select" id="citySelect"></select>

        <script src="{{ url_for('static', filename='script.js') }}"></script>



<div class="forecast-container" id="forecastContainer">

</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
